.App {}

hr {
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.input-padding-25 {
    padding: 0% 25% 0 25%;
}

/*logo*/

.Logo {
    height: 40px;
    width: 40px;
}

/*navbar*/

.navbar-nav>li:first-child {
    font-size: 11.4px;
    font-style: normal;
}

.navbar-grey {
    background-color: #B5B4B4;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #759fbc;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -8px #999;
    -moz-box-shadow: 0 8px 6px -8px #999;
    box-shadow: 0 8px 6px -8px #999;
}

.navbar-btn {
    border-radius: 5px;
}

.navbar-brand {
    padding-left: 15px;
}

/*login form */

.center_div {
    margin: 0 auto;
    width: 80%/* value of your choice which suits your alignment */
}

.size {
    width: 25rem;
}

.card-center {
    margin: 150px auto;
    margin-bottom: 10px;
    border: none;
}

/*Button*/

.icon-align {
    vertical-align: middle;
}

.cancel {
    background-color: #9e9e9e !important;
}

/*Card*/

.myCard {
    margin: 0 auto;
    width: 70%;
    border: none;
}

/*Input*/

.input-padding {
    padding: 0% 20% 0 20%;
}

/*Label*/

.lbl-padding {
    padding-left: 2%;
    padding-bottom: 5%;
    display: inline-block;
    border-left: 5px solid grey;
    margin: 0 40px;
    height: 10px;
    border-radius: 4px;
}

/*Title*/

.title-color {
    color: #4B4B4B;
}

.title-table {
    margin: -10px
}

.title-form {
    margin-bottom: 50px;
}

/*Select*/

.ReactTable {
    text-align: center;
}

/*Background*/

.gradient {
    background: #cacaca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f3f3f3, #cacaca);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f0f0f0, #cacaca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}